flows/Task_Set_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Task_to_Collection</name>
        <label>Add Task to Collection</label>
        <locationX>447</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>scol_TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>svar_ThisTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Owner_ID</name>
        <label>Assign Default Owner ID</label>
        <locationX>217</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>svar_ThisTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_DefaultUserID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_ID</name>
        <label>Assign Owner ID</label>
        <locationX>215</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>svar_ThisTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Matter_Team_Member.litify_pm__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign all other Task Details here.</description>
        <name>Assign_Task_Details</name>
        <label>Assign Task Details</label>
        <locationX>342</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>svar_ThisTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_1WeekFromNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_ThisMatterTask.litify_pm__Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisTask.litify_pm__Matter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MatterID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisTask.litify_pm__MatterStage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_ThisMatterTask.litify_pm__Matter_Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisTask.litify_pm__Billable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_ThisMatterTask.litify_pm__Billable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisTask.litify_pm__Document_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_ThisMatterTask.litify_pm__Document_Link__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_Priortity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svar_ThisMatterTask.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svar_ThisTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MatterID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check to see if a Matter Team Member was found for this Role.</description>
        <name>Matter_Team_Member_Found</name>
        <label>Matter Team Member Found?</label>
        <locationX>50</locationX>
        <locationY>407</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Owner_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Matter_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Creates Tasks from a Matter Stage given a Matter Stage and Matter ID. This will also assign the Task to the correct Matter Team Member if one exists.</description>
    <formulas>
        <name>for_1WeekFromNow</name>
        <dataType>Date</dataType>
        <expression>TODAY()+{!var_DueDaysFromToday}</expression>
    </formulas>
    <formulas>
        <name>for_DefaultUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>If there is no Priority set, default to Normal</description>
        <name>for_Priortity</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!svar_ThisMatterTask.litify_pm__Priority__c})=&quot;&quot;, &quot;Normal&quot;, TEXT({!svar_ThisMatterTask.litify_pm__Priority__c}))</expression>
    </formulas>
    <formulas>
        <description>If there is no Status set, default to Not Started</description>
        <name>for_Status</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!svar_ThisMatterTask.litify_pm__Status__c}) = &quot;&quot;, &quot;Not Started&quot;, TEXT({!svar_ThisMatterTask.litify_pm__Status__c}))</expression>
    </formulas>
    <interviewLabel>Task Set Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Set Creation</label>
    <loops>
        <description>Loop through each task and update the Assigned to and other fields.</description>
        <name>Task_Loop</name>
        <label>Task Loop</label>
        <locationX>447</locationX>
        <locationY>233</locationY>
        <assignNextValueToReference>svar_ThisMatterTask</assignNextValueToReference>
        <collectionReference>Get_all_Tasks_from_Matter_Stage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lookup_Matter_Team_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create all tasks.</description>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>661</locationX>
        <locationY>231</locationY>
        <inputReference>scol_TasksToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Find all Tasks associated with the Matter Stage ID</description>
        <name>Get_all_Tasks_from_Matter_Stage</name>
        <label>Get all Tasks from Matter Stage</label>
        <locationX>447</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Loop</targetReference>
        </connector>
        <filters>
            <field>litify_pm__Matter_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_MatterStageID</elementReference>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Matter_Stage__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>litify_pm__Default_Matter_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Lookup a Matter Team Member based on the Role assigned to the task</description>
        <name>Lookup_Matter_Team_Member</name>
        <label>Lookup Matter Team Member</label>
        <locationX>61</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matter_Team_Member_Found</targetReference>
        </connector>
        <filters>
            <field>litify_pm__Matter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_MatterID</elementReference>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>svar_ThisMatterTask.litify_pm__Matter_Team_Role__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Matter_Team_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>190</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_all_Tasks_from_Matter_Stage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>scol_TasksToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>svar_ThisMatterTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_pm__Default_Matter_Task__c</objectType>
    </variables>
    <variables>
        <name>svar_ThisTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>What is the number of days from Today that ALL tasks in this collection should be due?</description>
        <name>var_DueDaysFromToday</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_MatterID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Matter Stage ID that you want to add all tasks from.</description>
        <name>var_MatterStageID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
